:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: #312e2b;
    grid-template-areas: 
        "a b"
    ;
}

#tabla {
    grid-template-areas: "a";
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 5px solid black;
    display: none;
}

#info {
    grid-template-areas: "b";
    display: flex;
    flex-direction: column;
    display: none;
}

.player {
    width: 100%;
    height: 100%;
    background-color: #312e2b;
    border: 3px solid black;
    border-collapse: collapse;
}

td{
    background-color: #edeed1;
    /* border: 3px solid black; */
    width: calc(100vh / 13);
    height: calc(100vh / 13);
}

td:hover {
    background-color: rgba(0, 255, 30, 0.742);
}

tr:nth-child(2n) >:nth-child(2n), tr:nth-child(2n+1) >:nth-child(2n+1) {
    background-color: #779952;
}

tr:nth-child(2n) >:nth-child(2n):hover, tr:nth-child(2n+1) >:nth-child(2n+1):hover {
    background-color: rgba(0, 255, 30, 0.742);
}

/* .player {
    
} */

.felso {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.also {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fejlec {
    background-color: grey;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.fejlec .nev {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

.pont {
    aspect-ratio: 1/1;
    height: 90%;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3.2em;
    /* position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px; */
}

.kepesseg {
    width: 40%;
    height: 80%;
    border-radius: 10px;
    background-color: #64ffd8;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.kepesseg:hover {
    box-shadow: 0 0 10px 3px white;
}

.ketkor {
    background-image: url(./kepesseg/ketkor.png);
}

.soklepes {
    background-image: url(./kepesseg/soklepes.png);
}

.babu {
    text-align: center;
    margin: auto;
    height: calc(100vh/13);
    width: calc(100vh/13);
    font-size: calc(100vh/13);
}

.fekete {
    color: #3a3a3a;
}

.feher {
    color: #dfdfdf;
}

#kezdokepernyo {
    width: 100vw;
    height: 100vh;
    background-color: #779952;
}

#kezdokepernyo {
    text-align: center;
    font-size: 4vw;
    margin: 0px;
}

#kezdokepernyo input {
    height: 4vh;
    width: 14vw;
    font-size: 1.2vw;
}

#kezdokepernyo button {
    height: 7vh;
    width: 9vw;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2vw;
    border: #1e3604 3px solid;
    background-color: #84c93b;
    transition: all 0.5s;
}

#kezdokepernyo button:hover {
    box-shadow: 0 0 10px white;
    transform: scale(110%);
}