:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: coral;
    grid-template-areas: 
        "a b"
    ;
}

#tabla {
    grid-template-areas: "a";
    background-color: blue;
    margin: auto;
}

table {
    border-collapse: collapse;
    border: 5px solid black;
}

#info {
    grid-template-areas: "b";
    background-color: brown;
    display: flex;
    flex-direction: column;
}

.player:nth-child(1) {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

.player:nth-child(2) {
    width: 100%;
    height: 100%;
    background-color: khaki;
}

td{
    background-color: rgb(255, 255, 255);
    /* border: 3px solid black; */
    width: calc(100vh / 13);
    height: calc(100vh / 13);
    border: 2px solid black;
}

td:hover {
    background-color: rgba(0, 255, 30, 0.742);
}

tr:nth-child(2n) >:nth-child(2n), tr:nth-child(2n+1) >:nth-child(2n+1) {
    background-color: rgb(3, 3, 3);
}

tr:nth-child(2n) >:nth-child(2n):hover, tr:nth-child(2n+1) >:nth-child(2n+1):hover {
    background-color: rgba(0, 255, 30, 0.742);
}

/* .player {
    
} */

.felso {
    height: 20%;
}

.also {
    height: 80%;
}

.nev {
    background-color: aqua;
    width: 75%;
    height: 90%;
}

.pont {

}

.babu {

}

.kepessegek {

}

.babu {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    font-size: 3.2em;
}

.fekete {
    color: rgb(58, 58, 58);
}

.feher {
    color: rgb(199, 199, 199);
}