@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    --elsodleges: #eeeed2;
    --masodlagos: #769656;
}

body{
    margin: 0;
    background-color: var(--masodlagos);
}

#szabalyokGomb {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

#kezdokepernyo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
}

#kezdoMenu {
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--elsodleges);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.672);
    border-radius: 5px;
}

#kezdoMenu h1 span {
    color: orange;
} 

#kezdoMenu div {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    align-items: center;
}

#kezdoMenu div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.695);
    width: 90%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#kezdoMenu div div input {
    font-size: 80%;
    border-radius: 5px;
}

#kezdoMenu button {
    margin: 2vh;
    font-size: 1.3em;
    width: 12vw;
    background-color: rgba(255, 255, 255, 0.549);
    border: var(--masodlagos) 3px dashed;
    cursor: pointer;
    transition: 1s all;
}

#kezdoMenu button:hover {
    background-color: rgba(0, 0, 0, 0.126);
    border: var(--masodlagos) 3px solid;
    border-radius: 5px;
    transform: scale(102%);
}

#jatek {
    display: flex;
    justify-content: space-between;
}

#nyertesKep {
    display: none;
}
<<<<<<< HEAD
#nyertesMenu {
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 209, 185);
    border-radius: 10px;
    border: 5px solid rgb(8, 71, 13);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.466);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
}
#nyertesKiiras {
    font-size: 2vw;
    margin-bottom: 0;
}
#ujrakezdes {
    width: 30%;
    height: 15%;
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    border: 2px solid black;
    font-size: 0.9vw;
    transition: all 0.5s;
    cursor: pointer;
}
#ujrakezdes:hover {
    transform: scale(110%);
    background-color: #779952;
    color: white;
    box-shadow: 0 0 10px white;
}
#szabalyokGomb {
    color: black;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    right: 2%;
    border: black 2px solid;
    border-radius: 5px;
=======

#info {
    display: none;
>>>>>>> 296e86d9d1384d1d6b9cf650fc52aab25716a0df
}